.experienceList {
    list-style-type: disc;
    list-style-position: inside;
}

.experienceList li::marker {
    color: var(--section-title);
}

/* note of skills */
.notesOfSkills {
    min-height: 470px;
    background-image: url("../assets/images/note-paper-wide.webp");
    background-size: contain;
    background-repeat: round;
    border-radius: .5rem;
    padding: 25px 0;
    line-height: 1.6;
    overflow: hidden;
    font-family: "IRANSansDN", sans-serif;
}

@media (max-width:767px) {
    .notesOfSkills {
        background-image: url("../assets/images/note-paper-narrow.webp");
    }
}